<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 20px;
      }

      h1 {
        color: #333;
        text-align: center;
      }

      h1:nth-of-type(2) {
        color: #555;
      }

      ul {
        list-style-type: none;
        padding: 0;
      }

      li {
        margin-bottom: 20px;
        border: 1px solid #ccc;
        padding: 10px;
        background-color: #fff;
      }

      strong {
        color: #007bff;
      }

      .achievement {
        color: #666;
      }

      a {
        display: inline-block;
        margin-top: 20px;
        padding: 10px 15px;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        border-radius: 5px;
      }
    </style>
    <title>Parent Dashboard</title>
  </head>

  <body>
    <h1>Welcome, <%= userName %></h1>
    <h1>Student Achievements</h1>
    <ul>
      <% studentAchievements.map(student=> { %>
      <strong>Achievements of <%= student.Name %></strong
      ><br />
      <ul>
        <li><%= student.Achievements %></li>
      </ul>
      <% }) %>
    </ul>
    <a href="/auth/logout">Logout</a>
  </body>
</html>
